$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  // padding-top: 20px;
  // padding-bottom: 20px;
}
ul ol{
  list-style: none;
}
.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix{
  clear: both;
}
.full_width{
  width: 100%;
}
.border1b_e1e1e1 {
    border-bottom: 1px solid #e1e1e1;
}
.relative{
  position: relative;
}
/* Customize container */
@media (min-width: 768px) {
  //index
  .container {
    max-width: 1280px;
  }
  .header{
    height:106px;
    .logo{
      float:left;
      margin: 28px 0 0 28px;
    }
  }
  .navs{
    .navbar{
      border:none!important;
      margin-bottom: 0;
      .nav li a{
        padding-left: 33px;
        padding-right: 33px;
      }
     .collapse .nav li a{
        font-size: 15px;
        color: #9d9d9d ;
        font-weight: bold;
         .caret{
          margin-left: 5px;
         }
      }
       a:hover{
        color: #505050 !important;
      }
      .navbg{
        background-color: #fff;
      }
    }
  }
  .s-content{
    min-height: 560px;
  }
  .swiper-container {
        width: 100%;
        max-height: 820px;
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
      }
      .swiper-pagination-bullet{
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: 0 0 0 4px;
            background: #aaa;
            border-radius: 100%;
        }
    }
    .footer {
        // background: #eeeeee;
        padding: 25px 0 25px 0;
        ul{
          display: block;
          text-align: center;
          li{
            display: inline;
            a{
              color: #aeaeae;
              font-size: 12px;
              font-weight: bold;
              border-right: 1px dotted #9d9d9d;
              display: inline-block;
              padding: 0 10px;
            }
          }
        }
        .phone400 {
            text-align: center;
            font-size: 26px;
            padding: 5px 0 0 0;
            a.c4 {
              color: #5f5f5f;
              border-bottom: 1px solid #5f5f5f;
              padding: 10px 85px;
          }
        }

        .copyright {
            text-align: center;
            color: #303030;
            padding: 10px 0 0 0;
          .copyright_at {
            width: 480px;
            margin: 0 auto;
            line-height: 20px;
            .copyright_left{
              float:left;
            }
            .copyright_right{
              float: right;
              a{
                color: #303030;
                padding-left: 20px;
              }
            }
          }
        }
    }
    .full_width {
        width: 100%;
    }
    //aboutCompany
    .aboutcompany{

      .aboutcompanyNav{
        text-align: center;
      }

      .con{
        .con1{
          .titleH1{
            font-size: 38px;
            font-weight: bold;
            text-align: center;
            padding: 30px 0 5px 0;
          }
          .titleH2{
              font-size: 18px;
              text-align: left;
              color: #9b9b9b;
              line-height: 30px;
          }
        }
        .con2{
          .titleH1{
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            color:#6b6b6b;
            padding: 30px 0 5px 0;
          }
        }
         .con3{
          .titleH1{
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            color:#6b6b6b;
            padding: 30px 0 5px 0;
          }
          .row-bottom{
            margin-top: 20px;
          }
        }
        .con4{
          margin-bottom: 30px;
          .titleH1{
           font-size: 38px;
            font-weight: bold;
            text-align: center;
            padding: 30px 0 5px 0;
          }
          .con4img{
            text-align: center;
          }
        }
      }

    }


    //news
    .news{
      .newsNav{
        text-align: center;
      }
      .con{
        margin-bottom: 30px;
        .titleH1{
          font-size: 38px;
            font-weight: bold;
            text-align: center;
            padding: 30px 0 5px 0;
        }
        .col-height{
          float: left;
        }
        .kk{
          width: 100%;
          // height: 250.3px;
          // background-color: #bce;
          text-align: center;
          .titleh1{
            font-size: 16px;
            color: #7f8080;
          }
           .titleh2{
            font-size: 14px;
            color: #b1b1b1;
            text-align: left;
            line-height: 22px;
          }
          .titleh3{
            font-size: 14px;
            color: #b1b1b1;
            text-align: left;
          }
        }
      }
    }

}
/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   /* Remove the padding we set earlier */

// }

@media screen and (max-width: 768px) {
  /* Remove the padding we set earlier */
  .con2img .col-xs-12{
    margin-bottom: 20px;
  }
}

.footer{
  background-color: #f6f6f6
}
.navbar-collapse{
  padding-left: 0
}
body{
  overflow-y:scroll;
}

#recruit{
  h1{
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 56px;
    color:#8f8f8f;
  }
  h3{
    font-size: 24px;
    color:#505050;
    &.mbottom{
      margin-bottom: 70px;
    }
  }
  .row{
    div{
      .items{
        margin-top: 40px;
        border:1px solid #f6f6f6;
        .header{
          height: 68px;
          background:#0153a7;
          color:#fff;
          p{
            line-height: 68px;
            font-size: 24px;
            padding-left: 12px;
            span{
              font-size: 16px;
              float: right;
              margin-right: 12px;
              margin-top: 4px;
            }
          }
        }
        .middle{
          background: #f6f6f6;
          height: 424px;
          padding:12px;
          p{
            font-size: 14px;
            &.title{
              color:#333;
            }
            color:#666;
          }
          .msg{
            padding: 8px;
          }
        }
      }
    }
  }
}

.imgCon{
  a{
    cursor: pointer;
  }
}
